/* INDEX*/
/* body */
* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;

}
body {
    background: linear-gradient(#46e9cc, #6f0489);
    background-attachment: fixed;
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    }
    
/* header */
.imgLogo {
    width: 20%;
    display: inline;
    margin-top: 10px;
    margin-right: 30px;
    padding: 15px;
    text-align: left;
}
.navegacion {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color:#6f0489;
    padding: 15px;
    border-radius: 5px;
    text-align: right;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    
}

.navegacion a {
    
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
    font-family: monospace;
    
}
.navegacion a:hover {
    color: #46e9cc;
}
.pat {
    width: 80%;
    padding: 55px;
    margin-left: 150px;
}
.parrafoH1 .animacion {
    display: inline-block;
    color: #46e9cc;
    font-size: larger;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 2s, transform 2s;
}

.parrafoH1.animado .animacion {
    opacity: 1;
    transform: translateY(0);
}


.usuariaRegistro{
    background-color: rgb(5, 66, 5);
    position: initial;
}
.iniciarSesion {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 15px; 
    border-radius: 5px;
    text-align: right;
}
/* Estilo para los campos de entrada */
#new-username,
#new-password {
    font-family: monospace;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #46e9cc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}



/* Estilo para el botón de inicio de sesión */
    #login-button {
    font-family: monospace;
    background-color: #6f0489;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

/* Estilo para el botón de olvidar contraseña */
#forgot-password-button {
    font-family: monospace;
    background-color: #46e9cc;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

#register-button {
    font-family: monospace;
    background-color: #46e9cc;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;  
}
/* Estilo para los campos de entrada */
#new-username,
#new-password {
    /* width: 100%; */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: monospace; /* Fuente monoespaciada */
}

/* Cambiar el color del texto del marcador de posición a negro */
#new-username::placeholder,
#new-password::placeholder {
    color:#6f0489; /* Color del texto de marcador de posición */
}


/* Estilo para el enlace "No tienes una cuenta" */
p a {
    font-size: 18px; /* Cambia el tamaño de fuente según tus preferencias. */
    background-color: white; /* Cambia el fondo a blanco. */
    padding: 5px 10px; /* Agrega espaciado alrededor del texto si es necesario. */
    text-decoration: none; /* Elimina la subrayado del enlace. */
}


.videoContainer {
    text-align: center;
    margin-top: 50px;
    padding: 80px;
    border-radius: 200px;
    box-shadow: 0 0 10px #46e9cc; 
}


h2 {
    font-size: 28px;
  color: white;
    text-align: left;
   margin-top: 80px;
   margin-top: 70 px;
 }
/* main */
ul {
    font-family: 'Gloria Hallelujah', cursive;
    font-family:'Mansalva', cursive;
    margin: 20px 0;
    text-align: left;
    padding-left: 30px; 
    color: rgb(38, 38, 107);
    color: black;
    color: white;
    color: black;
    font-size: 20px;
}
.image-container {
    text-align: center;
    margin: 40px;
    margin-left: 70px;
    margin-left: 30px;
    display: flex;
    justify-content: left;
    width: 100%;
}
.image{
    width: 200px;
}

.image {
    max-width: 100%;
    height: auto;
}

.inscribirseLink {
    display: inline-block;
    background-color: #46e9cc;
    color:black;
    padding: 10px 20px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    justify-content: center;
    margin-top: 20px; 
    margin-left: 100pz
    ;
    font-family: monospace;
}

.inscribirseLink:hover {
    background-color: #6c0a50;
}
.cafecito{
    width: 3px;
}

.redes {
    width: 50px; 
    height: auto; 
    margin: 0 5px; 
    text-align: right;
}
/* footer */
.contenedor-footer{
    border-top: 2px solid #ffffff;
  padding-top: 20px; 
    text-align: center;
  }
.h2-footer {
    text-align: center;
 color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    line-height: 1;
    padding: 2%;
    margin: auto;
}

  .h3-footer {
    font-family: monospace;
    color: white;
    font-size: 16px;
    margin:0 auto;
    text-align: center;
}

/* LA FUNDACION */

.h1Paginas{
    text-align: center;
    color: white;
    margin-top: 240px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Orbitron', sans-serif;
}
.parrafoH1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    background-image:url(/disenio/imagenes/fondo.jpg);
    padding: 10px;
}
/* main */
.equipoMiembro {
    display: flex;
    align-items: center;
    margin: 20px;
}
.equipoImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px; 
}
.chicas {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    color: black;
    font-size: larger;
}

.pFunda{
    color:black;
    background-color: #e8d7f9ca;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align:justify;
    margin: 50px;
    padding: 50px;
    line-height: 1.5;
}


/* CONTACTO */
.contah2{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.contactas{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.lineaFormularioContacto {
    max-width: 100vh;
    margin: 0 auto;
    border-width: 2px;
    border-color: azure;
    margin-top: 20px;
}
.formularioContacto {
    background: #e8d7f9ca;
    padding: 10px;
}
.puente {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-align: justify;
    margin: 20px;
    background-color:#6f0489;
}
.cargaFormulario {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   
/* QUE OFRECEMOS */
.h1Cursos{
    margin-top: 200px;
    text-align: center;
}
.h2-curso {
    text-align: center;
    color: black;
    font-family: monospace;
    text-decoration: none;
    font-size: 26px;
    line-height: 1,5;
    padding: 5%;
    margin: 20px
}
.h3-cursos {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align: left;
    margin: 20px;
    text-decoration: none;
}
.h4-cursos{
    color: black;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 30px;
}
.p-cursos {
    color:white;
    font-family:'Courier New', Courier, monospace;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: black;
    font-size: medium;
    text-align: left;
    margin: 30px 0; 
    padding: 20px;
}
.cursos {
    width: 50%;
    height: 50%;
}

/* BIBLIOTECH */
.h1Biblio {
    margin-top: 200px;
    text-align: center;
}
.contenedor-texto {
    width: 1000px;
    border: 2px solid rgb(117, 7, 117);
    font-size: 16px;
    line-height: 1.5;
    margin: 30px auto; 
    color: black;
    background-color: #e8d7f9ca;
    text-align: center;
}
.boton-inscripcion {
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color:  #46e9cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.p-biblio {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: left;
    padding: 3%;
    margin: 10px 0; 
    line-height: 1.5;
}
.p-biblio-intro {
    text-align: center;
    color:white;
    font-family:'Orbitron', sans-serif; 
    font-size: 26px;
    line-height: 1,5;
    padding: 3%;
}
.h2-biblio {
    text-align: center;
    color: black;
    font-family:monospace;
    font-size: 26px;
    line-height: 1,5;
    margin: 20px;
    padding:3%;
}

/* Media query para dispositivos con un ancho mínimo de 1200px */
@media (min-width: 1200px) {
    .imgLogo {
        width: 15%;
        margin-right: 30px;
    }
        #navegacion {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
    }

    #somos {
        margin: 30px 0;
       
        padding: 50px;
    }
    .videoContainer {
        text-align: center;
    }
    .image-container {
        margin: 50px;
        display: flex;
        justify-content: left;
    }
    .image {
        width: 150px;
    }
    .inscribirseLink {
        margin-top: 30px;
    }
    h2 {
        font-size: 32px;
    }
    ul {
        margin: 30px 0;
        padding-left: 40px;
    }
    footer {
        text-align: right;
        margin-top: 70px;
    }
}
/* Media query para dispositivos con un ancho mínimo de 768px */
@media (min-width: 768px) {
    .imgLogo {
        width: 20%;
        margin-right: 30px;
    }
    #navegacion {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
    }
 
    #somos {
        margin: 20px 0;
        
        padding: 15px;
    }
    .videoContainer {
        text-align: center;
    }
    .image-container {
        margin: 40px;
        display: flex;
        justify-content: left;
    }
    .image {
        width: 190px;
        margin-right: 30px;
        margin-left: 30px;
    }
    .inscribirseLink {
        margin-top: 20px;
    }
    h2 {
        font-size: 28px;
    
      
    }
    ul {
        margin: 20px 0;
        padding-left: 30px;
    }
    footer {
        text-align: right;
        margin-top: 50px;
    }
}
